html {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}


.container {
    max-width: 39.99rem;
    margin: 0 auto;
}

.top-nav-burger {
    width: 100%;
    height: 2.31rem;
    background-color: #34393d;
    display: flex;
    justify-content: space-between;
}
.dropdown-menu {
    margin: 0;
    padding: 0;
    top: 2.31rem;
    right: 0;
    position: absolute;
    display: none;
    list-style: none;
    background-color: #f9f9f9;
    width: 180px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
}

.nav-link {
    display: block;
    padding: 0.7em 1em;
    color: #444;
    font-size: 12px;
    border-bottom: 1px solid #e9e9e9;
}
.nav-link:hover {
    background-color: #ededed;
}


.top-nav {
    display: none;
    width: 100%;
    height: 1.52rem;
    padding-right: .47rem;
    background-color: #34393d;
    justify-content: space-between;
    align-items: center;
    font-size: 0.234rem;
    font-family: 'Montserrat', sans-serif;
}


.top-nav-header {
    padding: .75rem 1.2rem;
    font-family: Montserrat;
    color: #fff;
    font-size: 0.75rem;
    font-weight: 500;
}

.top-nav a {
    margin-left: .47rem;

}

.top-nav a:active,
.top-nav a:visited,
.top-nav a:link {
    color: #ececec;
}

.top-nav a:hover {
    color: #fff;
}

.top-nav-btn {
    width: 2.56rem;
    height: 2.31rem;
    align-self: flex-end;
    background-color: #1a2025;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
}
.fa-times {
    display: none;
}

header {
    width: 100%;
    height: 10.81rem;
    background: #000 url(../img/320/header_bg_320.png);
    background-size: cover;
    margin-bottom: 1px;
    padding: 6%;
}

.main-h1 {

    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.3;
}

header a {
    color: #a6d6e0;
    font-size: 0.875rem;
    font-weight: 700;
}

.main-nav {
    display: flex;
    flex-direction: column;
}

.main-nav-item-pizza,
.main-nav-item-salads,
.main-nav-item-desserts {
    width: 100%;
    height: 4.7rem;
    margin-top: 3px;
    background: #000 url(../img/320/pizza_delivery_bg_320.png);
    background-size: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main-nav-item-salads {
    background: #000 url(../img/320/ua_ux_salads_bg_320.png);
    background-size: 120%;
}

.main-nav-item-desserts {
    background: #000 url(../img/320/desserts_bg_320.png);
    background-size: 120%;

}

.main-nav-header {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
}

.main-nav-btn {
    width: 4.44rem;
    height: 4.7rem;
    background-color: #acd9ad;
    color: #fff;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
}


.main-header-wrapper {
    position: relative;
    padding: 1rem .56rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main-big-header {
    color: #3f4043;
    font-size: 1.254rem;
    text-transform: uppercase;
}

.main-small-header {
    color: #cbcdce;
    font-size: 0.627rem;
}

.menu-logo-img {
    display: none;
}

.sections-wrapper {
    display: flex;
    flex-direction: column;
}

.dishes-big-header {
    padding: .5rem 0;
    background-color: #3d3e41;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1.2rem;
    color: #acd9ad;
    font-size: 1.254rem;
    text-transform: uppercase;
}

.carte-small-header-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;
}

.carte-small-header {
    color: #3f4043;
    font-size: 0.941rem;
    text-transform: uppercase;
}

.carte-item {
    padding: .75rem 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.carte-item-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.carte-item-caption {
    color: #3f4043;
    font-size: 0.847rem;
    margin: .5rem 0 .5rem .5rem;
}

.carte-item-caption::before {
    content: ".";
    color: #3f4043;
    font-size: 1rem;
    position: absolute;
    left: .1rem;
    bottom: .7rem;
}

.carte-item-price {
    margin: .5rem 0;
    color: #3f4043;
    font-size: 0.847rem;
    font-weight: 700;
}

.carte-item-description {
    color: #3f4043;
    font-size: 0.549rem;
}



.bevarges-big-header {
    padding: .5rem 0;
    background-color: #acd9ad;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1.2rem;
    color: #fff;
    font-size: 1.254rem;
    text-transform: uppercase;
}

.pizza-menu-icon-img {
    width: 1.56rem;
    height: 1.56rem;
    background-image: url(../img/pizza_icon.png);
    background-size: cover;

}

.wine-menu-icon-img {
    width: .81rem;
    height: 1.5rem;
    background-image: url(../img/wine_glass_icon.png);
    background-size: cover;
}

.tea-menu-icon-img {
    width: 1.88rem;
    height: 1.31rem;
    background-image: url(../img/cup_icon.png);
    background-size: cover;
}

.beer-menu-icon-img {
    width: 1.31rem;
    height: 1.25rem;
    background-image: url(../img/beer_glass_icon.png);
    background-size: cover;
}

footer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    background-color: #acd9ad;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: .75rem;
    line-height: 1.5;
    text-align: center;
    padding: 1rem 0;
}
    .footer-wrapper {
    display: flex;
        flex-direction: column;
}
.footer-logo-img {
    display: none;
}

/*................................медиа запросы.....................................*/

@media (min-width: 640px) {
    html {
        font-size: 32px;
    }

    .top-nav {
        display: none;
    }
    
    .dropdown-menu {

    width: 240px;
}
.nav-link {
    font-size: 14px;
}
    header {
        background: #000 url(../img/640/header_bg_640.png);
        background-size: cover;
    }

    .main-nav-item-pizza {
        background: #000 url(../img/640/pizza_delivery_bg_640.png);
        background-size: 120%;
    }

    .main-nav-item-salads {
        background: #000 url(../img/640/ua_ux_salads_bg_640.png);
        background-size: 120%;
    }

    .main-nav-item-desserts {
        background: #000 url(../img/640/desserts_bg_640.png);
        background-size: 120%;
    }

}


@media (min-width: 980px) {

    html {
        font-size: 64px;
    }

    .top-nav-burger {
        display: none;
    }

    .top-nav {
        display: flex;
    }

    .main-h1 {
        font-size: 54px;
        line-height: 1.185;
    }

    header {
        background: #000 url(../img/980/header_bg_980.png);
        background-size: cover;
    }

    .main-nav-item-pizza,
    .main-nav-item-salads,
    .main-nav-item-desserts {
        cursor: pointer;
    }

    .main-nav-item-pizza {
        background: #000 url(../img/980/pizza_delivery_bg_980.png);
        background-size: cover;

    }

    .main-nav-item-salads {
        background: #000 url(../img/980/ua_ux_salads_bg_980.png);
        background-size: cover;
    }

    .main-nav-item-desserts {
        background: #000 url(../img/980/desserts_bg_980.png);
        background-size: cover;
    }

    header a {
        font-size: 34px;
    }
    
.main-header-wrapper {
    padding: .5rem .25rem;
}
    .menu-logo-img {
        display: block;
        align-self: flex-end;
        width: 109px;
        height: 89px;
        position: absolute;
    }

    .main-nav {
        flex-direction: row;
    }

    .main-nav-btn {
        display: none;
    }

    .main-nav-header {
        font-size: 38px;
    }

    .sections-wrapper {
        flex-direction: row;
    }

    .main-big-header {
        font-size: 34px;
    }

    .main-small-header {
        font-size: 20px;
    }

    .dishes-big-header,
    .bevarges-big-header {
        font-size:  34px;
    }

    .carte-small-header {
        font-size:  24px;
    }

    .pizza-menu-icon-img {
        width: 42px;
        height: 42px;
        background-image: url(../img/980/pizza_icon_980.png);
        background-size: cover;
    }

    .tea-menu-icon-img {
        width: 60px;
        height: 42px;
        background-image: url(../img/980/cup_icon_980.png);
        background-size: cover;
    }

    .wine-menu-icon-img {
        width: 25px;
        height: 44px;
        background-image: url(../img/980/wine_glass_icon_980.png);
        background-size: cover;
    }

    .beer-menu-icon-img {
        width: 48px;
        height: 44px;
        background-image: url(../img/980/beer_glass_icon_980.png);
        background-size: cover;
    }

    .carte-small-header-wrapper {
        padding: .5rem;
    }

    .carte-item {
        padding: .4rem;
    }

    .carte-item-caption {
        font-size: 24px;
        margin: .2rem 0 .2rem .2rem;
    }

    .carte-item-caption::before {

        font-size: 30px;
        position: absolute;
        left: 0;
        bottom: .29rem;
    }

    .carte-item-price {
        font-size: 27px;
        margin: .2rem 0 .2rem .2rem;
    }

    .carte-item-description {
        font-size: 16px;
    }
    
    footer {
    flex-direction: row;
    font-size: 18px;
    padding: .2rem .5rem;
        justify-content: space-between;
}
    .footer-logo-img {
    display: block;
}
    footer p {
align-self: center;
        
}
    .footer-wrapper {
 flex-direction: row;
}
 
}
@media (min-width: 1200px) {

    html {
        font-size: 98px;
    }

    .main-h1 {
        font-size: 62px;
          }

    header a {
        font-size: 38px;
    }

    .menu-logo-img {
        width: 120px;
        height: 98px;
    }

    .main-nav-header {
        font-size: 43px;
    }

    .main-big-header {
        font-size: 40px;
    }


    .dishes-big-header,
    .bevarges-big-header {
        font-size:  40px;
    }

    .carte-small-header {
        font-size: 30px;
    }

    .pizza-menu-icon-img {
        width: 48px;
        height: 48px;
    }

    .tea-menu-icon-img {
        width: 70px;
        height: 48px;
    }

    .wine-menu-icon-img {
        width: 27px;
        height: 48px;
    }

    .beer-menu-icon-img {
        width: 50px;
        height: 48px;
    }

    .carte-small-header-wrapper {
        padding: .35rem;
    }

    .carte-item {
        padding: .3rem;
    }

    .carte-item-caption {
        font-size: 27px;
        margin: .2rem 0 .2rem .2rem;
    }

    .carte-item-price {
        font-size: 27px;
    }

    .carte-item-description {
        font-size: 17.5px;
    }
    


    
}

